node_modules/
secret/
*.log
*.env
static/snapshots
static/videos
static/images
Backlog.md
.venv
__pycache__/
*.pyc
*.pyo
.env.*
.git
.gitignore
.github/
README.md
app/data.db
docker-compose*
logs
app/*.exe
app/logs
backup.sql