node_modules/
secret/
*.log
*.env
static/snapshots/
static/videos/
static/images/
Backlog.md
.venv
venv/
__pycache__/
*.pyc
*.pyo
.env.*
.git
.gitignore
.github/
README.md
app/data.db
docker-compose*
logs
app/*.exe
app/logs
backup.sql
ffmpeg.exe
test_*.py
ffprobe.exe
ffplay.exe
AGENTS.md