/venv
/app/static/images
__pycache__/
/app/logs
/app/data.db
/app/static/videos
/app/static/snapshots
/static/snapshots
/static/images
/static/videos
/app/utils/logs
data.db
/logs
/node_modules
*.css.map
public/build/
dist/
ffmpeg.exe
ffprobe.exe
.venv